.activity .title {
  position: fixed; 
  top: 0; 
  z-index: 10;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Quintessential', sans-serif;
  color: #10334a;
  text-shadow: 3px 3px 4px  #5f8caa;
  margin-top: 170px;
  margin-right: 40px;
}

.activity .activity-container {
  padding-top: 480px;
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  gap: 20px; 
  width: 90%; 
  max-width: 100%;
  box-sizing: border-box; 
  height: auto; 
  margin: 0 auto; 
}

.activity .activity-card {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 4px 10px #10334a;
  width: 350px;
  height: 650px; 
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.activity .activity-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 30px;
}

.activity .activity-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 5px rgba(246, 200, 34, 0.879);
}

.activity .activity-title {
  font-size: 1.7rem;
  font-family: 'Quintessential', sans-serif;
  font-weight: bold;
  color: #10334a;
}

.activity .activity-description {
  font-size: 1.4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 450;
  color: #555;
}

.activity img {
  margin: 0; 
  padding: 0; 
  display: block; 
}
* {
  box-sizing: border-box;
}

.activity .Introduction {
  position: relative;
  width: 100%;
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-image: url('/img/sfondo_generale.png'); 
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  overflow-y: auto; 
  padding-top: 0; 
}

.activity .arrow {
  position: fixed;
  top: 50%;  
  transform: translateY(-50%);  
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 1000;  
}

.activity .arrow-left {
  left: 20px;  
}

.activity .arrow-right {
  right: 20px;  
}

.activity-card.disabled {
  filter: grayscale(100%);
  opacity: 0.6;
  pointer-events: none; 
  border: 2px solid #ccc !important;
}

.place-text {
  font-weight: bold; 
  display: block;     
  text-align: center;
  margin-bottom: 10px; 
}


@keyframes slideInFromCenter {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .activity .title {
    font-size: 3rem;
  }

  .activity.story-panel {
    width: 95%;
    aspect-ratio: 1 / 1;
  }

  .activity {
    font-size: 4rem;
    font-weight: bold;
    color: #10334a;
  }

  .activity .story-image {
    max-width: 150px;
  }
}