.background-component {
  background-image: url('/img/sfondo_generale.png');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.background-component .title {
  left: 50%;
  z-index: 10;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Quintessential', sans-serif;
  color: #10334a;
  text-shadow: 3px 3px 4px  #5f8caa;
  padding: 10px 20px;
  width: auto;
  margin-top: 150px;
  margin-bottom: 100px;
}

.lumi {
  position: fixed;
  bottom: 0px;
  left: 10px;
  width: 260px;
}

.cloud {
  position: fixed;
  bottom: 50px;
  left: 200px;
  width: 330px;
}

.character-panel {
  background-color: rgba(255, 255, 255, 0.30);
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 10px #10334a;
  max-height: max-content;
  max-width: 90%;
  font-size: large;
  aspect-ratio: 5 / 4; 
}