/* Stili generali per il pulsante */
.arrow-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 50px; /* Imposta la dimensione */
    height: 50px;
    background-image: url('/img/arrow.png'); /* Percorso relativo dalla cartella public */
    background-size: contain; /* Fai in modo che l'immagine si adatti */
    background-repeat: no-repeat;
  }
  
  /* Aggiungi hover effect (opzionale) */
  .arrow-button:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }
  