/* Carattere per l'evoluzione nella storia nella foresta incantata (titolo magico)*/

@font-face {
    font-family: 'MagicFont';
    src: url('../assets/Fonts/magic-school.one.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Font bottone start prima pagina*/
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

/*font del titolo nella pagina introduction*/
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Quintessential&display=swap" rel="stylesheet">')