/* Carattere per l'evoluzione nella storia nella foresta incantata (titolo magico)*/

@font-face {
    font-family: 'MagicFont';
    src: url('../assets/Fonts/magic-school.one.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

