.interactive-guide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgba(89, 119, 207, 0.5); 
  backdrop-filter: blur(10px); 
  text-align: center;
  padding: 40px;
  font-family: 'Poppins', sans-serif;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000; 
}
.container-message-dots-buttons{
  margin-top:-300px;
}
.skip-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
  z-index: 1011; 
}

.message-box {
  background: white;
  color: #333;
  font-size: 1.7rem;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%; 
  max-width: 80%;
  min-height: 120px;
  font-weight: 600;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 0 auto;
  z-index: 1001; 
}

.progress-dots {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 25px;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 15px;
  height: 15px;
  background: #ddd;
  border-radius: 50%;
  transition: background 0.3s ease, transform 0.3s ease;
}

.dot.active {
  background: #BF1352;
  transform: scale(1.4);
}

.guide-button-container {
  display: flex;
  gap: 15px;
  margin-top: 25px;
  justify-content: center;
  z-index: 1001; 
}

.guide-next-button, .guide-back-button {
  background: #BF1352;
  color: white;
  font-size: 1.5rem;
  padding: 12px 24px;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s;
  font-weight: 600;
  border: none;
}

.guide-next-button:hover, .guide-back-button:hover {
  background: #BF1352;
  transform: scale(1.05);
}

.mascot {
  position: absolute;
  bottom: 130px;
  left: -50px;
  width: 600px;
  height: auto;
  z-index: 999;
}
