/* Imposta altezza piena per corpo e radice */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Il contenitore dell'immagine */
.introduction {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Evita lo scroll se l'immagine supera il limite */
}

/* Sfondo della storia */
.story-background {
  width: 100%;
  height: 100%; /* Imposta l'altezza a 100% */
  background-size: cover;
  display: flex; /* Flexbox per centrare il contenuto */
  position: fixed; /* Mantiene lo sfondo fisso */
  z-index: -1; /* Mette lo sfondo dietro */
}

/* Contenitore del testo e immagine */
.text-with-image {
  display: flex; /* Usa Flexbox per il layout */
  align-items:   flex-start; /* Centra verticalmente gli elementi */
  max-width: 100%;
}

/* Testo accanto all'immagine */
.story-text {
  font-family: 'Caveat', cursive;
  font-size: 1.5rem;
  color: #1a020e;
  line-height: 1.8;
  z-index: 1;
  max-width: 90%; /* Imposta una larghezza massima per il testo */
  margin-left: 10px;
}

/* Titolo */
.title {
  font-size: 36px;
  font-weight: bold;
  color: #1a020e;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  justify-content: center; /* Centra orizzontalmente */
  align-items: center;
}

/* Contenuto della storia */
.story-content {
  padding: 50px;
  text-align: center;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra orizzontalmente */
  height: 100%; /* Aggiungi altezza al contenitore */
}

/* Stile dell'immagine */
.inline-image {
  max-width: 400px;  /* Limita la dimensione massima dell'immagine */
  height: auto;  /* Mantiene le proporzioni dell'immagine */
  margin-right: 0;  /* Rimuove margini sinistri */
  align-self: flex-end;
}

/* Stile del pulsante */
.next-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-family: 'Caveat', cursive;
  color: white;
  background-color: #4d3319;
  border: none;
  border-radius: 10px; /* Smussa gli angoli */
  cursor: pointer;
  transition: all 0.3s ease; /* Animazione al passaggio del mouse */
}

/* Stile hover del pulsante */
.next-button:hover {
  background-color: #6b4b25; /* Cambia il colore quando si passa il mouse */
}
