/* Contenitore principale */
.Introduction {
  position: relative; /* Per posizionare lo sfondo */
  width: 100%;
  min-height: 100vh; /* Occupa almeno l'intera altezza della viewport */
  display: flex;
  justify-content: center; /* Centra orizzontalmente */
  align-items: center; /* Centra verticalmente */
  margin: 0;
  padding: 0;
}

/* Sfondo della storia */
.story-background {
  position: absolute; /* Sfondo posizionato assoluto */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/Untitled design.png'); /* Percorso dell'immagine */
  background-size: cover;
  background-position: center;
  z-index: -1; /* Sfondo dietro al contenuto */
}

/* Contenuto della storia */
.story-content {
  display: flex;
  flex-direction: column; /* Posiziona il contenuto verticalmente */
  justify-content: center; /* Centra verticalmente il testo */
  align-items: center; /* Allinea al centro orizzontalmente */
  max-width: 800px;
  margin: 30px;
  padding: 30px;
  box-sizing: border-box; /* Include padding e bordi nel calcolo delle dimensioni */
}

/* Contenitore con immagine e testo */
.inline-container {
  display: flex;
  align-items: center; /* Allinea immagine e testo verticalmente */
  width: 100%;
  margin-top: 30px; /* Spazio inferiore */
}

/* Immagine */
.inline-image {
  width: 400px; /* Larghezza fissa dell'immagine */
  height: auto; /* Mantiene proporzioni */
  position: absolute;
  top: 70px;
  left: 3px;
}

/* Immagine */
.inline-image-bivio {
  width: 250px; /* Larghezza fissa dell'immagine */
  height: auto; /* Mantiene proporzioni */
  position: absolute;
  bottom: 330px;
  right: 3px;
}

/* Testo */
.story-text {
  font-family: 'Serif', bold;
  font-size: 1.6rem;
  color: #000000;
  line-height: 1.6;
  margin: 10px; /* Elimina margini */
  text-align: center; /* Allinea il testo a sinistra */
}

/* Titolo */
.title {
  font-size: 8rem;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  font-family: 'Quintessential', bold;
}

@media (max-width: 768px) {
  .inline-container {
    flex-direction: column; /* Impila immagine e testo verticalmente */
    align-items: center; /* Centra tutto */
  }

  .inline-image {
    width: 100%; /* Immagine più grande su schermi piccoli */
    max-width: 300px;
  }
}
