.background-component {
    background-image: url('/img/sfondo_generale.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.last-title {
    left: 50%;
    z-index: 10;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Quintessential', sans-serif;
    color: #10334a;
    text-shadow: 3px 3px 4px  #5f8caa;
    padding: 10px 20px;
    width: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.last-description {
    font-family: 'Poppins', serif;
    font-size: 1.4rem;
    font-weight: 450;
    color: #10334a;
    line-height: 1.4;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.mb-3 .title2 {
    font-size: 2.2rem;
    font-weight: bold;
    text-align: left;
    font-family: 'Quintessential', sans-serif;
    color: rgba(183, 148, 25, 0.879);
    text-shadow: rgba(246, 200, 34, 0.879) 1px 1px 2px;
    width: auto;
}

.mb-3 .title3 {
    font-family: 'Poppins', serif;
    font-weight: 450;
    font-size: 1.5rem;
    color: #10334a;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;
}

/*.review-form-button {
    width: 50%;
    font-size: large;
    font-family: 'Poppins', serif;
    font-weight: 450;
    color: white;
    font-size: x-large;
    background-color: #10334a;
    box-shadow: #5f8caa 3px 3px 4px;
    margin-top: 10px;
    text-align: center;
}
*/
.review-form-button{
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #156ba5, #10334a);
    border: none;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    box-shadow:
        inset 2px 2px 5px rgba(255, 255, 255, 0.6),
        inset -2px -2px 5px rgba(0, 0, 0, 0.4),
        0 8px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10; 
}

.custom-alert {
    text-align: center; 
    margin-top: 10px;
    font-family: 'Poppins', serif;
    font-weight: 450;
    font-size: 1.4rem;
    /*background-color: rgba(246, 200, 34, 0.879);*/
    background-color: #DFF0D8;  
    color: #3C763D;  
    border: 2px solid #3C763D; 
}

.custom-alert-heading {
    color: #3C763D;
    font-size: 1.4rem;
    font-family: 'Poppins', serif;
    font-weight: bold;
    margin-top: 10px; 
    text-align: center;
}

.required {
    color: red;
}
