.custom-modal {
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.custom-modal>.modal-dialog {
    max-width: unset !important;
    margin-left: 0px;
    margin-right: 0px;
}