.potion {
    background-image: url('../../img/sfondo_ufficiale.jpg'); 
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
    min-height: 100vh; 
    display: flex;
}

.potion .potion-hunters {
    text-align: center;
    align-items: center;
    padding: 10px 20px;
    font-family: Lato, sans-serif;
}

.potion .title {
    font-size: 5rem; /* Titolo molto grande */
    font-weight: bold;
    text-align: center;
    margin-top: 150px;
    font-family: 'Quintessential', sans-serif;
    color: #720B5B;
}

.potion .intro {
    font-size: 1.3rem;
    margin: 30px auto 0; /* Centra orizzontalmente e mantiene il margine superiore */
    text-align: center;
    width: 80%;
}

/* Lista degli ingredienti */
.potion .ingredients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 50px auto 30px;
    width: 70%;
}

/* Stile per ogni card di ingrediente */
.potion .ingredient-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 230px; /* Larghezza fissa */
    height: 260px; /* Altezza fissa */
    padding: 15px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    cursor: grab;
    position: relative;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.7); /* Sfondo leggermente trasparente */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    word-wrap: break-word; /* Gestisce correttamente il testo lungo */
}
.potion .ingredient-card.disabled {
    opacity: 0.5; /* Riduci l'opacità per mostrare che è disabilitata */
    cursor: not-allowed; /* Cambia il cursore per indicare che non è possibile interagire */
  }
  
/* Badge quantità */
.potion .ingredient-card .ingredient-quantity-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #720B5B; /* Colore viola per richiamare il tema */
    color: white; /* Testo bianco */
    border-radius: 8px; /* Bordo arrotondato */
    padding: 5px 10px; /* Spaziatura interna */
    font-size: 1rem; /* Dimensione testo */
    font-weight: bold; /* Testo in grassetto */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Leggera ombra */
    z-index: 1; /* Sopra gli altri elementi */
}

/* Immagine della card */
.potion .ingredient-card img {
    max-width: 70%; /* Immagine che riempie una porzione maggiore della card */
    height: auto; /* Mantiene le proporzioni dell'immagine */
    border-radius: 4px;
    margin-top: 0px;
}

/* Effetto hover sulle card */
.potion .ingredient-card:hover {
    transform: scale(1.05); /* Ingrandisce leggermente la card */
    box-shadow: 0 8px 16px rgba(114, 11, 91, 0.5); /* Ombra più intensa */
}

/* Testo dentro la card */
.potion .ingredient-card p {
    text-align: center;
    margin-top: 10px;
    font-size: 1.5rem;
    padding: 0;
    font-style: Lato, sans-serif;
}

/* Stile per il calderone */
.potion .cauldron {
    width: 500px;
    height: 400px;
    position: fixed; /* Fissa il calderone alla posizione desiderata */
    bottom: -180px; /* Distanza dal bordo inferiore */
    left: 50%; /* Centra il calderone orizzontalmente */
    transform: translateX(-50%); /* Allinea il calderone al centro */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    z-index: 10; /* Assicurati che il calderone sia sopra altri elementi */
}

.potion .cauldron-image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Mantiene l'immagine proporzionata senza deformarla */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.potion .cauldron-ingredient {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
.potion .cauldron-ingredient img {
    width: 30px; /* Riduci la dimensione dell'immagine per il calderone */
    height: auto;
  }
  

.potion .cauldron p {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-weight: bold;
    font: 1.3rem 'Arial', sans-serif;
    z-index: 1;
}

/* Stile per le frecce di navigazione */
.potion .arrow {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    color: #6b4a3c;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.potion .arrow-left {
    left: 20px; /* Posizione della freccia sinistra */
}

.potion .arrow-right {
    right: 20px; /* Posizione della freccia destra */
}

.potion .arrow.enabled:hover {
    background-color: #e0d9c6; /* Cambia colore quando hover */
}

.potion .arrow.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

