.question,
.question p,
.question .panel,
.question .activity-container,
.question .activity-card,
.question .activity-answer,
.question .activity-title,
.question-description,
.modal-body {
    font-family: 'Poppins', sans-serif;
    font-weight: 450;
}

.question {
  overflow: hidden; 
  height: 100vh; 
}

.question img {
    margin: 0;
    padding: 0; 
    display: block; 
  }
  * {
    box-sizing: border-box;
  }

  .question .title {
    font-size: 4rem; 
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-family: 'Quintessential', sans-serif;
    color: #10334a;
    text-shadow: 3px 3px 4px #5f8caa;
  }

  .question .Introduction {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/img/sfondo_generale.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;   
  }
  
  .question .story-background {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    overflow: hidden;   
  }
  
  .question .question-text-container {
    width: 80%;               
    max-width: 600px;         
    margin: 20px auto;        
    padding: 20px;           
    text-align: center;       
    font-size: 1.4rem;        
    color: #555;             
    font-family: 'Poppins', sans-serif;
    font-weight: 450;
    overflow: hidden;         
    white-space: nowrap;      
    text-overflow: ellipsis;  
  }

  .question .activity-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 20px; 
    width: 100%; 
    max-width: 100%; 
    box-sizing: border-box; 
    height: auto; 
    margin: 0 auto; 
  }

  .question .activity-image {

    margin: 0 auto;
    display: block;
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 30px;
  }

  .question .activity-card {
    background: rgba(255, 255, 255, 1);
    border-radius: 15px;
    box-shadow: 0 1px 10px #10334a;
    width: 350px;
    height: 750px; 
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.question .activity-card img {
    width: 200px;
    height: auto; 
    border-radius: 10px;
    margin-bottom: 10px;
}

.question .activity-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px 5px rgba(246, 200, 34, 0.879);
}

  
.question .activity-title {
  font-size: 2rem;
  font-family: 'Quintessential', sans-serif;
  font-weight: bold;
  color: #10334a;
}

.question .activity-answer {
  font-size: 1.4rem;
  color: #555;
}

.question .question-description {
  font-family: 'Poppins', sans-serif;
  font-weight: 450;
  font-size: 1.4rem;
  color: #555;
  max-width: 600px; 
  margin: 20px auto; 
  padding: 10px;     
}
 
.question .panel {
  background: rgba(255, 255, 255, 0.8); 
  border-radius: 15px; 
  box-shadow: 0 4px 10px rgba(114, 11, 91, 0.3); 
  width: 100%;
  max-width: 750px;
  padding: 20px; 
  text-align: center; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  margin: 25px auto; 
  position: relative;
}

.question .panel:last-child {
  margin-bottom: 200px; 
}
  
.question .title {
  font-size: 4rem;
  font-weight: bold;
  color: #10334a;
  text-shadow: 3px 3px 4px  #5f8caa;
  position: fixed; 
  top: 110px; 
  left: 52%; 
  right: -31%;
  transform: translateX(-50%); 
  z-index: 10; 
}


.question .arrow {
  position: fixed;
  top: 50%;  
  transform: translateY(-50%);  
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 1000;  
}

.question .arrow-left {
  left: 20px;  
}

.question .arrow-right {
  right: 20px; 
}

.question .choice-card {
  display: flex;
  justify-content: center;  
  align-items: center;      
  flex-direction: column;   
  width: 90%;             
  height: auto;           
  border: 2px solid #ccc;   
  padding: 10px;             
  border-radius: 20px;      
  margin: 10px;             
  margin-top: 50px;
  cursor: pointer;
  position: relative;       
  z-index: 10;              
  pointer-events: auto;     
  background: rgba(255, 255, 255, 0.80); 
}

.question .choice-card:hover {
  transform: scale(1.10);
  box-shadow: 0 8px 20px rgba(114, 11, 91, 0.5); 
}
  
.question .choice-container {
  display: flex;
  justify-content: flex-start;  
  gap: 10px; 
  flex-wrap: wrap; 
  width: 100%; 
  box-sizing: border-box;
}
  
.question .choice-image {
    width: 100%;
    max-width: 200px;         
    height: auto;
    border-radius: 10px;
  }
  
.question .choice-title, .choice-description {
  text-align: center;
  margin-top: 10px;
}

.question .choice-title {
  font-weight: bold;
}

.question .choice-description {
  font-style: 'Poppins', sans-serif;
  font-weight: 450;
}

.disabled-answer {
  filter: grayscale(100%);
  opacity: 0.6;
  pointer-events: none; 
  border: 2px solid #ccc !important;
}
  

@keyframes slideInFromCenter {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .question .title {
    font-size: 3rem;
  }

  .question .panel {
    width: 95%;
    aspect-ratio: 1 / 1;
  }

  .question .story-text {
    font-size: 1.2rem;
  }

  .question .story-image {
    max-width: 150px;
  }
}