body, html { 
    margin: 0; 
    padding: 0; 
    height: 100%; 
    font-family: fantasy; 
    background: url('img/sfondo.jpg') no-repeat center center fixed; 
    background-size: cover; 
    color: #40035b; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 

.container { 
    padding: 20px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    height: 100vh; 
} 

.header { 
    text-shadow: 3px 3px 5px #fca294; 
} 

.title { 
    font-size: 3rem; 
    margin-bottom: 20px; 
} 

.subtitle { 
    font-size: 1.5rem; 
    margin-bottom: 20px;
    font-family: cursive; 
    text-shadow: none;
} 

.select-activity-title { 
    font-size: 2rem; 
    margin-bottom: 20px; 
    text-shadow: 3px 3px 3px #e3a989; 
}

.activity-selector { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-bottom: 20px; 
} 

.activity-selector button { 
    background: none; 
    border: none; 
    cursor: pointer; 
    margin: 0 20px; 
} 

.activity-selector img { 
    width: 50px; 
    height: 50px; 
} 

.activity-details h2 { 
    font-size: 1.5rem; 
    margin-bottom: 10px;
    font-family: cursive; 
} 

.activity-details img { 
    width: 100px; 
    height: 100px; 
} 

.puzzle-button { 
    position: absolute; 
    top: 20px; 
    right: 20px; 
    background: none; 
    border: none; 
    cursor: pointer; 
} 

.puzzle-button img { 
    width: 100px; 
    height: 100px;
}

.confirm-modal { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.5); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 

.confirm-modal-content { 
    background: #fff; 
    padding: 20px; 
    border-radius: 10px; 
    text-align: center; 
} 

.confirm-modal-content p { 
    font-size: 1.5rem; 
    margin-bottom: 20px; 
} 

.confirm-modal-content button { 
    margin: 0 10px; 
    padding: 10px 20px; 
    font-size: 1rem; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    background: #b609f5; 
    color: #fff; 
    transition: sfondo 0.3s ease; 
} 

.confirm-modal-content button:hover { 
    background: #620373; 
}