.start-activity,
.start-activity p,
.start-activity .activity-description,
.start-activity .activity-info-box,
.start-activity .activity-theme,
.start-activity .activity-location,
.start-activity .modal-body,
.start-activity .btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 450;
}

.start-activity img {
  margin: 0; 
  padding: 0; 
  display: block; 
}

.start-activity .title {
  font-size: 4rem;
  font-family: 'Quintessential', sans-serif;
  font-weight: bold;
  color: #720B5B;
  margin-top: 50px;
  text-align: center;
}

.start-activity .activity-title {
  font-size: 2rem;
  font-family: 'Quintessential', sans-serif;
  font-weight: bold;
  color: #720B5B;
}

.start-activity .activity-description {
  font-size: 1.3rem;
  color: #555;
}

.activity-description p {
  margin-bottom: 1px;  
}

.start-activity .Introduction {
  position: relative;
  width: 100%;
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  background-image: url('/img/Untitled design.png'); 
  background-size: cover; 
  background-position: center;
  background-attachment: fixed; 
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  overflow-y: auto; 
  padding-top: 0; 
}

.start-activity .panel-start-activity {
  background: rgba(255, 255, 255, 0.8); 
  border-radius: 15px; 
  box-shadow: 0 4px 10px rgba(114, 11, 91, 0.3); 
  width: 700px; 
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  margin: 10px; 
  height: auto;
}

.question .panel:last-child {
  margin-bottom: 200px;
}

.start-activity .story-text {
  font-family: 'Poppins', serif;
  font-weight: 450;
  font-size: 1.4rem;
  color: #262626;
  line-height: 1.6;
  margin: 10px 0;
  text-align: center;
  align-items: center;
}

.start-activity .arrow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 1000;
}

.start-activity .arrow-left {
  left: 20px;
}

.start-activity .arrow-right {
  right: 20px;
}

.start-activity .character-image {
  position: fixed;
  bottom: 15px;
  left: 5px;
  width: 300px;
  height: auto;
}

.start-activity .speech-bubble {
  position: fixed;
  bottom: 17%;
  left: 22%;
  display: inline-block;
  padding: 10px 20px;
  background-image: url('/img/pensie.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #262626;
  font-family: italic;
  font-size: 1.5rem;
  text-align: center;
  z-index: 1001;
  min-width: 150px;
  max-width: 300px;
  background-size: 100% 100%;
  word-wrap: break-word;
  padding: 50px;
}

.start-activity .speech-bubble.show {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease-in-out;
}

.start-activity .activity-info {
  margin-top: 15px;
  font-size: 1rem;
  color: #333;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
}

.start-activity .activity-image {

  margin: 0 auto;
  display: block;
  width: 50%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 30px;
}

.start-activity .panel-start-activity:nth-child(2) {
  height: 200px;
  padding: 10px;
}

@keyframes slideInFromCenter {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.start-activity .popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.start-activity .popup-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.start-activity .popup-content p {
  font-family: 'Poppins', sans-serif;
  font-weight: 450;
  font-size: 1.8rem;
  color: #555;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.start-activity .popup-buttons {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.start-activity .popup-buttons button {
  padding: 10px 20px;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 450;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.start-activity .popup-buttons .yes-button {
  background-color: #720B5B;
  color: white;
}
.start-activity .popup-buttons .yes-button:hover {
  background-color: #720B5B;
}

.start-activity .popup-buttons .no-button {
  background-color: #e0e0e0;
  color: #333;
}
.start-activity .popup-buttons .no-button:hover {
  background-color: #c0c0c0;
}