.stepEgyptStory img {
  margin: 0; 
  padding: 0;
  display: block; 
}
* {
  box-sizing: border-box;
}

.stepEgyptStory .Introduction {
  position: relative;
  width: 100%;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  background-image: url('/img/sfondo_egitto.png'); 
  background-size: cover; 
  background-position: center;
  background-attachment: fixed; 
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  overflow-y: auto;
  padding-top: 0; 
}

.stepEgyptStory .title {
  font-family: 'Quintessential', sans-serif;
  font-weight: bold;
  font-size: 4rem;
  color: #2A7A72;
  text-shadow: 3px 3px 4px #47cabd;
  transition: opacity 0.3s ease; 
  position: relative; 
  top: 10px; 
  max-width: 80%; 
  text-align: center; 
  margin: 0 auto; 
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  margin-bottom: 30px;
}

.stepEgyptStory .story-background {
  width: 100%;
  height: auto; 
  padding-top: 150px;  
  padding-bottom: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  transition: margin-top 0.3s ease-in-out;
}

.stepEgyptStory .story-panel {
  position: relative;
  padding-top: 0;
  width: 90%; 
  max-width: 650px;
  height: auto; 
  aspect-ratio: 5 / 4; 
  margin: 40px 0;
  padding: 20px;
  background: rgba(255, 255, 255, 0.60); 
  border-radius: 25px;
  box-shadow: 0 4px 10px #10334a;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  backdrop-filter: blur(5px); 
}

.stepEgyptStory .story-text {
  font-size: 1.4rem;
  color: #262626;;
  font-family: 'Poppins', sans-serif;
  font-weight: 450;
  line-height: 1.6;
  margin: 10px 0;
  text-align: center;
  align-items: center;
}

.stepEgyptStory .story-panel:last-child {
  margin-bottom: 200px; 
}

.stepEgyptStory .story-image {
  width: 300px;
  height: auto;
  margin-top: 0px;
  align-items: center;
}

.stepEgyptStory .arrow {
  position: fixed;
  top: 50%;  
  transform: translateY(-50%);  
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 1000;  
}

.stepEgyptStory .arrow-left {
  left: 20px; 
}

.stepEgyptStory .arrow-right {
  right: 20px;  
}

@keyframes slideInFromCenter {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .stepEgyptStory .title {
    font-size: 3rem;
  }

  .stepEgyptStory .story-panel {
    width: 95%;
    aspect-ratio: 1 / 1;
  }

  .stepEgyptStory .story-text {
    font-size: 1.2rem;
  }

  .stepEgyptStory .story-image {
    max-width: 150px;
  }
}