@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+ES+Deco+Guides&family=Quintessential&family=Schoolbell&display=swap');

.StepSelection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 100vh;
    background-image: url('/img/sfondo_ufficiale.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    overflow: hidden; 
}

.steps-eldora .header {
  padding: 100px;
  padding-bottom: 10px;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-right: 30px;
  margin-left: 30px
}

.steps-eldora .title {
  font-family: 'Quintessential', sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  color: #720B5B;
  text-shadow: 3px 3px 4px  rgba(230, 131, 217, 0.944);
  padding-right: 20px;
}

.steps-eldora .description {
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 450;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.steps-eldora .choose-challenge-text {
  font-size: 1.4rem;
  font-family: 'Poppins', sans-serif;
  color: #720B5B;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.steps-eldora .steps {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 100%;
}

.steps-eldora .Step-card {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(114, 11, 91, 0.3);
  width: 300px;
  height: 500px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.steps-eldora .Step-card:hover {
  transform: scale(1.05) !important;
  box-shadow: 0 0 20px 5px rgba(246, 200, 34, 0.879);
}
.steps-eldora .Step-image {
  width: 150px;
  height: auto;
}

.steps-eldora .Step-title {
  font-family: 'Quintessential', sans-serif;
  font-size: 1.7rem;
  color: #720B5B;
  font-weight: bold;
  margin-bottom: 10px;
}

.steps-eldora .Step-description {
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 450;
  color: #3b3a3a;
} 

.arrow {
  position: fixed;
  top: 50%;  
  transform: translateY(-50%); 
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 1000;  
}

.arrow-left {
  left: 20px;  
}

.arrow-right {
  right: 20px; 
}

.steps-eldora .Step-card.disabled {
  color: #7a7a7a; 
  cursor: not-allowed; 
  pointer-events: none; 
}

.steps-eldora .Step-card.disabled .Step-image {
  filter: grayscale(100%);
  opacity: 0.5;
}

.steps-eldora .Step-card.disabled .Step-title {
  color: #a9a9a9;
}

.steps-eldora .Step-card.disabled .Step-description {
  color: #7a7a7a;
}


  
