@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+ES+Deco+Guides&family=Quintessential&family=Schoolbell&display=swap');

.StepSelectionEgypt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 100px;
    padding-bottom: 10px;
    background-image: url('/img/sfondo_egitto.png'); 
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  
  .titleEgypt {
    font-family: 'Quintessential', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    margin-top: 60px;
    color: #2A7A72;
    text-shadow: 3px 3px 4px  #47cabd;
  }
  .choose-challenge-text {
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    color: #2A7A72; 
    text-align: center;
    margin-bottom: 30px;
  }
  .descriptionEgypt {
    font-size: 1.4rem;
    color: #262626;;
    font-family: 'Poppins', sans-serif;
    font-weight: 450;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
  }

  .StepEgypt-question {
    font-size: 1.4rem;
    margin-bottom: 30px;
    text-shadow: 2px 2px 3px  rgba(251, 236, 172, 0.944);
  }
  
  .StepEgypt-card {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 10px #a64d24;
    width: 300px;
    height: 600px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .StepEgypt-card:hover {
    transform: scale(1.05) !important;
    box-shadow: 0 0 20px 5px rgba(246, 200, 34, 0.879);
  }

  .Step-image {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .StepEgypt-title {
    font-family: 'Quintessential', sans-serif;
    font-size: 1.7rem;
    color: #2A7A72;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .StepEgypt-description {
    font-family: 'Poppins', serif;
    font-weight: 450;
    font-size: 1.4rem;
    color: #555;
  } 

  .arrow {
    position: fixed;
    top: 50%;  
    transform: translateY(-50%);  
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 1000; 
  }
  
  .arrow-left {
    left: 20px;  
  }
  
  .arrow-right {
    right: 20px;  
  }

  .StepEgypt-card.disabled {
    color: #7a7a7a;
    cursor: not-allowed; 
    pointer-events: none; 
  }
  
  .StepEgypt-card.disabled .Step-image {
    filter: grayscale(100%);
    opacity: 0.5;
  }

  .StepEgypt-card.disabled .StepEgypt-title {
    color: #a9a9a9;
  }
  
  .StepEgypt-card.disabled .StepEgypt-description {
    color: #7a7a7a;
  }

 