.stepPotion img {
  margin: 0; 
  padding: 0;
  display: block; 
}
* {
  box-sizing: border-box;
}

.stepPotion .Introduction {
  position: relative;
  width: 100%;
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  background-image: url('/img/sfondo_ufficiale.jpg'); 
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 100px;
  overflow-x: hidden; 
  overflow-y: auto; 
  padding-top: 0;
}

.stepPotion .title {
  position: fixed;
  top: 0; 
  left: 50%;
  transform: translateX(-50%); 
  z-index: 10; 
  font-size: 4rem; 
  font-weight: bold;
  text-align: center;
  font-family: 'Quintessential', sans-serif;
  color: #720B5B;
  text-shadow: 3px 3px 4px  rgba(230, 131, 217, 0.944);
  padding: 10px 20px;
  width: 90%;
  margin-top: 130px; 
  transition: opacity 0.3s ease; 
}

.stepPotion .story-background {
  width: 100%;
  height: auto; 
  padding-top: 250px; 
  padding-bottom: 20px; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  transition: margin-top 0.3s ease-in-out;

}

.stepPotion .story-panel {
  position: relative;
  padding-top: 0;
  width: 90%; 
  max-width: 650px;
  height: auto; 
  aspect-ratio: 5 / 4;
  margin: 40px 0; 
  padding: 20px; 
  background: rgba(255, 255, 255, 0.60); 
  border-radius: 25px; 
  box-shadow: 0 4px 10px rgba(114, 11, 91, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;
  box-sizing: border-box; 
  backdrop-filter: blur(5px); 
}

.stepPotion .story-text {
  font-size: 1.4rem;
  color: #262626;
  font-family: 'Poppins', sans-serif;
  font-weight: 450;
  line-height: 1.6;
  margin: 10px 0;
  text-align: center;
  align-items: center;
}

.stepPotion .story-panel:last-child {
  margin-bottom: 200px; 
}

.stepPotion .story-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-top: 0px;
  align-items: center;
}

.stepPotion .arrow {
  position: fixed;
  top: 50%;  
  transform: translateY(-50%);  
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 1000;  
}

.stepPotion .arrow-left {
  left: 20px;  
}

.stepPotion .arrow-right {
  right: 20px;  
}

@keyframes slideInFromCenter {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .stepPotion .title {
    font-size: 3rem;
  }

  .stepPotion .story-panel {
    width: 95%;
    aspect-ratio: 1 / 1;
  }

  .stepPotion .story-text {
    font-size: 1.2rem;
  }

  .stepPotion .story-image {
    max-width: 150px;
  }
}
