.cloud-welcome {
  position: relative;
  left: 180px;
  width: 400px;
  margin-top: -85px;
}

.lumi {
  position: relative;
  margin-top: -150px;
  width: 280px;
  /* Dimensione dell'immagine di Lumi */
  z-index: 1;
}

.cloud-character {
  position: relative;
  left: 200px;
  width: 400px;
  margin-top: -77px;
}

.character-btn {
  width: 120px;
  height: 120px;
  padding: 0;
  margin-right: 10px;
  /* Imposta il margine destro tra i bottoni */
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid transparent;
  transition: border-color 0.5s;
}

.character-btn.selected {
  border-color: #23a627;
}

.character-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-style {
  color: black;
  background-color: #04bd4b;
  font-size: 1.5rem;
}