.welcome-text {
    font-size: 3rem; /* Grande per il testo */
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Font giocoso */
    color: #FF6347; /* Colore vivace */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Effetto ombra per far risaltare il testo */
  }
  
  .character-image {
    width: 100%; /* Immagine che occupa tutta la larghezza disponibile */
    max-width: 300px; /* Imposta una larghezza massima per non esagerare */
    margin: 20px 0; /* Distanza sopra e sotto l'immagine */
  }
  
  .choose-text {
    font-size: 2rem; /* Testo grande */
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Font giocoso */
    color: #32CD32; /* Colore vivace per il testo */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* Effetto ombra */
  }
  